<div class="card" ng-class="{'jd-edit-mode-card' : $ctrl.editMode}">
  <div class="card-header">
    <h2 class="my-1 text-center mx-auto">
      <span>{{$ctrl.user.displayName}}</span> <span class="text-muted">(User ID: {{$ctrl.user.cn}})</span>
      <span><i class="fas fa-times p-2 jd-modal-close-icon" ng-click="$ctrl.closeWindow()"></i></span>
    </h2>
    
  </div>

  <div ng-hide="$ctrl.editMode">
    <div class="card-body d-flex flex-row flex-wrap">
      <div ng-repeat="item in $ctrl.labels" class="col-12 col-lg-6 mb-2">
        <div class="px-2">
          <b>{{item.Label}}:</b>
          <a href="{{$ctrl.user[item.key]}}" target="_blank" ng-show="item.link"> {{$ctrl.user[item.key]}} </a>
          <span ng-hide="item.link"> {{$ctrl.user[item.key]}}</span>
        </div>
      </div>
    </div>
    <div class="card-footer text-muted d-flex flex-row justify-content-center">
      <button class="btn btn-primary mx-2 mx-lg-5" ng-click="$ctrl.closeWindow()">CLOSE</button>
      <button
        class="btn btn-danger mx-2 mx-lg-5"
        ng-if="$ctrl.user.EDIT_PROFILE_ACCESS"
        ng-click="$ctrl.openEditMode()">
        EDIT
      </button>
    </div>
  </div>

  <div ng-show="$ctrl.editMode">
    <div class="card-body d-flex flex-row flex-wrap">
      <div ng-repeat="item in $ctrl.labels" class="col-12 col-sm-6 mb-4">
        <div class="px-3">
          {{item.Label}}:
          <input
            type="text"
            class="jd-user-form-field"
            ng-model="$ctrl.edited_user[item.key]"
            ng-class="{'jd-user-form-field-disabled' : !item.editable}"
            ng-disabled="!item.editable" />
        </div>
      </div>
    </div>
    <div class="card-footer text-muted d-flex flex-row justify-content-center">
      <button class="btn btn-primary mx-2 mx-lg-5" ng-click="$ctrl.closeEditModeWithoutApply()">CANCEL</button>
      <button
        class="btn btn-success mx-2 mx-lg-5"
        ng-if="$ctrl.user.EDIT_PROFILE_ACCESS"
        ng-click="$ctrl.resetData()">
        RESET
      </button>
      <button
        class="btn btn-danger mx-2 mx-lg-5"
        ng-if="$ctrl.user.EDIT_PROFILE_ACCESS"
        ng-click="$ctrl.editUser()">
        SAVE
      </button>
    </div>
  </div>
</div>
