<div class="mb-2" ng-if="$ctrl.user.displayName">
  <div class="card-body">
    <h4 class="card-title">{{$ctrl.user.displayName}}</h4>
    <h6 class="card-subtitle mb-2 text-muted" ng-if="$ctrl.user.regno">{{$ctrl.user.regno}}</h6>
    <div class="card-text mb-1">
        <span><b>{{$ctrl.constants["Label Mappings"].departmentNumber["Label"]}}: </b></span>
        <span>{{$ctrl.user.departmentNumber}}</span>
    </div>
    <div class="card-text mb-1">
        <span><b>{{$ctrl.constants["Label Mappings"].batch["Label"]}}: </b></span>
        <span>{{$ctrl.user.batch}}</span>
    </div>
    <div class="card-text mb-1">
        <span><b>{{$ctrl.constants["Label Mappings"].hostel["Label"]}}: </b></span>
        <span>{{$ctrl.user.hostel}}</span>
    </div>
    <div class="card-text mb-1">
        <span><b>{{$ctrl.constants["Label Mappings"].mail["Label"]}}: </b></span>
        <span>{{$ctrl.user.mail}}</span>
    </div>
    <div class="card-text mb-1">
        <span><b>{{$ctrl.constants["Label Mappings"].mobile["Label"]}}: </b></span>
        <span>{{$ctrl.user.mobile}}</span>
    </div>
    <div class="card-text mb-1">
        <span><b>{{$ctrl.constants["Label Mappings"].mobile["Label"]}}: </b></span>
        <span>{{$ctrl.user.UI_GROUP}}</span>
    </div>
  </div>
</div>
