<div class="" ng-if="$ctrl.user.displayName">
  <div class="jd-user-card-image-row d-flex flex-row justify-content-center">
      <img src="{{$ctrl.user.imageUrl}}" ng-click="$ctrl.openModal()" loading="lazy" ng-error="this.src='{{$ctrl.defaultImageUrl}}';"/>
  </div>
  <div class="card-body">
    <a href="" ng-click="$ctrl.openModal()"
      ><h4 class="card-title text-center">{{$ctrl.user.displayName}}</h4></a
    >
    <h6 class="card-subtitle mb-3 text-muted text-center" ng-if="$ctrl.user.regno">
      Reg No: {{$ctrl.user.regno}}
    </h6>
    <div class="card-text mb-1" ng-if="$ctrl.extraSearchTypePresent">
      <span><b>{{$ctrl.searchType["Label"]}}: </b></span>
      <span>{{$ctrl.user[$ctrl.searchType.key]}}</span>
    </div>
    <div class="card-text mb-1">
      <span><b>{{$ctrl.constants["Label Mappings"].departmentNumber["Label"]}}: </b></span>
      <span>{{$ctrl.user.departmentNumber}}</span>
    </div>
    <div class="card-text mb-1">
      <span><b>{{$ctrl.constants["Label Mappings"].batch["Label"]}}: </b></span>
      <span>{{$ctrl.user.batch}}</span>
    </div>
    <div class="card-text mb-1">
      <span><b>{{$ctrl.constants["Label Mappings"].hostel["Label"]}}: </b></span>
      <span>{{$ctrl.user.hostel}}</span>
    </div>
    <div class="card-text mb-1">
      <span><b>{{$ctrl.constants["Label Mappings"].mail["Label"]}}: </b></span>
      <span>{{$ctrl.user.mail}}</span>
    </div>
    <div class="card-text mb-1">
      <span><b>{{$ctrl.constants["Label Mappings"].mobile["Label"]}}: </b></span>
      <span>{{$ctrl.user.mobile}}</span>
    </div>
  </div>

  <div ng-if="$ctrl.isViewUserModalActive" class="jd-view-user-modal jd-scrollbar">
    <view-user user="$ctrl.user" modal-active-flag="$ctrl.isViewUserModalActive"></view-user>
  </div>
</div>
