(function (window) {
    window.__env = window.__env || {};

    // API url
    window.__env.apiUrl = "<joka backend url>/api";
    window.__env.logoutRedirectUrl = "<joka-life url>";
    window.__env.devMode = false;
}(this));