.jd-bg-image {
  background-image: url("assets/background_min.jpg");
  height: 100vh;
  backdrop-filter: blur(3px);
}

.jd-base-container {
  display: flex;
  flex-direction: column;
  max-height: 90vh;
  border-radius: 0.75rem;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: saturate(120%) blur(10px);
  -webkit-backdrop-filter: saturate(120%) blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.jd-nav-button-bar {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  margin-top: 0.5rem;
}

.jd-nav-button {
  float: space-between;
}

.jd-banner {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  flex-direction: row;
  height: 20%;
  margin-bottom: 5px;
  width: 100%;
}

@media (min-width: 799px) {
  .jd-banner {
    margin-bottom: 20px;
  }
}

.jd-banner-logo-container {
  padding-right: 20px;
  border-right: 1px solid #fff;
  flex-direction: column;
  height: 80%;
  align-items: center;
  display: flex;
  justify-content: center;
}

@media (min-width: 799px) {
  .jd-banner-logo-container {
    padding-right: 40px;
  }
}

.jd-banner-logo {
  width: 45px;
}

@media (min-width: 799px) {
  .jd-banner-logo {
    width: 120px;
  }
}

.jd-title-container {
  font-family: "Exo 2", sans-serif;
  color: white;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 80%;
  justify-content: center;
  padding-left: 20px;
}

@media (min-width: 799px) {
  .jd-title-container {
    padding-left: 40px;
  }
}

.jd-title {
  font-size: 2rem;
  margin-bottom: 5px;
}

@media (min-width: 799px) {
  .jd-title {
    font-size: 4.5rem;
    margin-bottom: 10px;
  }
}

.jd-view {
  overflow-y: scroll;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 799px) {
  .jd-view {
    overflow-y: scroll;
  }
}

.jd-search-types-container {
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-width: 0.1rem;
  border-radius: 0.5rem;
  /* border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem; */
  background: rgba(255, 255, 255, 0.5);
  /* visibility: hidden; */
}

.jd-search-by-info-bar {
  background: white;
  border-radius: 0.25rem;
  color: black;
  font-size: 1.2rem;
  text-align: center;
  cursor: pointer;
}

.jd-search-type {
  margin: 0;
}

.jd-search-type-label {
  color: black;
  font-weight: bold;
  font-size: 1rem;
}

.jd-search-bar {
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-width: 0.1rem;
  border-radius: 0.5rem;
  background: rgba(255, 255, 255, 0.5);
  font-weight: bold;
  font-size: 1.2rem;
  color: black !important;
}

.jd-search-icon {
  cursor: pointer;
  color: white;
}

.jd-search-results-container {
  padding: 0;
}

@media (min-width: 799px) {
  .jd-search-results-container {
    padding: 10px;
  }
}

.jd-search-result-box {
  background-color: aliceblue;
}

.jd-search-group-tab-inactive {
  cursor: pointer;
  font-size: 1rem;
  border-radius: 0.2rem;
  border: 1px solid rgba(255, 255, 255, 0.75);
  color: black;
  background-color: rgba(255, 255, 255, 0.75);
  text-align: center;
}

.jd-search-group-tab-inactive:hover {
  background-color: white;
  font-weight: bold;
}

.jd-search-group-tab-active {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  cursor: default;
  font-size: 1rem;
  border: 1px solid rgba(52, 51, 51, 0.5);
  border-width: 0.25rem;
  border-radius: 0.2rem;
  color: black;
  background-color: white;
  text-align: center;
  font-weight: bold;
}

.jd-scrollbar::-webkit-scrollbar {
  width: 0px;
  /* background-color: #f5f5f5; */
}

.jd-scrollbar::-webkit-scrollbar-track {
  /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1); */
  background-color: #f5f5f500;
  border-radius: 0px;
}

.jd-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 0px;
  /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1); */
  background-color: #ffffffc8;
}

@media (min-width: 799px) {
  .jd-scrollbar::-webkit-scrollbar {
    width: 12px;
    /* background-color: #f5f5f5; */
  }

  .jd-scrollbar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #f5f5f500;
    border-radius: 10px;
  }

  .jd-scrollbar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #ffffffc8;
  }
}

.jd-view-user-modal {
  background-color: rgba(50, 50, 50, 0.75);
  border-radius: 0.75rem;
  position: fixed;
  z-index: 2000;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 90vh;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  overflow-y: scroll;
}

@media (min-width: 799px) {
  .jd-view-user-modal {
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

.jd-modal-close-icon {
  float: right;
  cursor: pointer;
}

.jd-modal-edit-back-icon {
  cursor: pointer;
}

.jd-edit-mode-card {
  background-color: rgb(255, 255, 255);
  color: black;
  font-size: 1.2rem;
}

.jd-user-form-field {
  border: 1px solid rgb(89, 89, 89);
  border-width: 0.1rem;
  border-radius: 0.25rem;
  background-color: #ffffff;
  color: black;
  font-size: 1rem;
  font-weight: bold;
  width: 100%;
  display: block;
  line-height: 1.6;
  transition: all 0.5s linear;
  min-height: auto;
  padding: 0.32rem 0.75rem;
}

.jd-user-form-field-disabled {
  color: rgb(37, 38, 40);
  background-color: #d7d6d6;
}

.jd-no-records-found-text {
  color: rgb(30, 30, 30);
  font-weight: bold;
  font-size: 1.1rem;
}

.jd-view-user-header-text {
  margin-top: 0;
  margin-bottom: 0;
}

.jd-view-user-profile-image {
  object-fit: cover;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  margin-bottom: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

@media (min-width: 799px) {
  .jd-view-user-profile-image {
    height: 200px;
    width: 200px;
  }
}

.jd-view-user-profile-image-edit-button {
  border-radius: 50%;
  transform: translate(320%, -150%);
  background-color: rgb(100, 100, 100, 0.75);
  width: 35px;
  height: 35px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  cursor: pointer;
}

@media (min-width: 799px) {
  .jd-view-user-profile-image-edit-button {
    transform: translate(400%, -170%);
    height: 40px;
    width: 40px;
  }
}

.jd-edit-user-image-modal {
  background-color: rgba(50, 50, 50, 0.98);
  border-radius: 0.75rem;
  position: fixed;
  z-index: 2100;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 101%;
  padding: 1rem;
  color: white;
}

.jd-user-image-crop-area {
  background-color: antiquewhite;
  padding-top: 2rem;
  padding-bottom: 2rem;
  height: 400px;
  width: 400px;
}
